{% extends 'layout.html' %}
{% block body %}


<!-- Main Content -->
<div class="container-fluid"  style="padding:20px; background-color: rgb(221, 221, 220); position: absolute; top: 58px;">
    <div class="row justify-content-center align-items-center">     
        <div class="col-sm-6 col-lg-6">
          <h1>VIDEO CONVERTOR APPLICATION ON FLASK</h1>
       </div>
   
       <div class="col-sm-4 col-lg-4">
            <a href="{{file_path}}"><b>{{msg}}</b></a>
       </div>
    </div>
</div>

{% endblock %}